@page
@model FitnessClub.Web.Pages.AboutUs.IndexModel
@{
    ViewData["Title"] = "О нас";
}

<div class="container py-5 text-center">
    <h1 class="mb-4 fw-bold">О нашем фитнес клубе</h1>
    <p class="fs-3 mx-auto" style="max-width:1000px;">
        Добро пожаловать в фитнес клуб БГТУ "ВОЕНМЕХ" — место, где энергия, здоровье и комфорт встречаются под одной крышей.
        Мы стремимся создать атмосферу, в которой каждый чувствует поддержку и вдохновение на пути к своим целям.
    </p>

    <div class="col">
        <img src="https://mygym.su/wp-content/uploads/2022/05/photoeditorsdk-export6.jpg" class="img-fluid rounded shadow" alt="Тренажеры" />
    </div>

    <p class="fs-3 mx-auto mt-5" style="max-width:1000px;">
        У нас вы найдете современное оборудование от ведущих мировых производителей!
    </p>
    <ul class="list-group list-group-flush mx-auto mb-5" style="max-width:1000px;">
        <li class="fs-4 list-group-item">Беговые дорожки, велотренажеры, эллиптические тренажеры</li>
        <li class="fs-4 list-group-item">Гантели до 50 кг, штанги, силовые стойки</li>
        <li class="fs-4 list-group-item">Мультистанции, тренажеры для мышц спины и ног</li>
        <li class="fs-4 list-group-item">Студии - йога, пилатес, аэробика, танцевальные классы</li>
    </ul>

    <div class="col">
        <img src="https://lovefit.ru/imgs/blog/040/40/blg5c07af31c82e82_87095324.jpg" class="img-fluid rounded shadow" alt="Тренажеры" />
    </div>

    <p class="fs-4 fst-italic mx-auto mb-5 mt-5" style="max-width:1000px;">
        Мы заботимся о вашем комфорте: в залах установлены кулеры с чистой фильтрованной водой, а уютная зона отдыха поможет восстановить силы после тренировки.
    </p>

    <h1 class="mb-4 fw-bold">Наши ценности</h1>
    <p class="mx-auto mb-4 fs-4 fst-italic" style="max-width:1000px;">
        Мы ценим здоровье, ответственность и профессионализм. Наша команда сертифицированных тренеров всегда готова помочь вам сформировать индивидуальную программу тренировок.
    </p>

    <div class="col">
        <img src="https://voenmeh.ru/wp-content/uploads/2024/01/logo1.png" class="img-fluid" alt="Тренажеры" />
    </div>
</div>