<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewData["Title"] - FitnessClub.Web</title>

    <script type="importmap"></script>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FitnessClub.Web.styles.css" asp-append-version="true" />
</head>

<body class="d-flex flex-column min-vh-100">
    <header>
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" asp-page="/Index">Фитнес клуб БГТУ "ВОЕНМЕХ"</a>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">

                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" asp-page="/MembershipPlans/Index">Абонементы</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" asp-page="/AboutUs/Index">О нас</a>
                        </li>
                    </ul>

                    <ul class="navbar-nav ms-auto">

                        @if(User.Identity?.IsAuthenticated == false)
                        {
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" asp-page="/Account/Login">Вход</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" asp-page="/Account/Register">Регистрация</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <form method="post" asp-page="/Account/Logout" class="d-inline">
                                    <button type="submit" class="nav-link btn btn-link">Выйти</button>
                                </form>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Личный кабинет</a>
                            </li>
                        }
                    </ul>

                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="flex-fill">
            @RenderBody()
        </main>
    </div>

    <footer class="bg-light text-center py-3 mt-auto">
        <div class="container">
            <small>&copy; @DateTime.Now.Year Фитнес клуб БГТУ "ВОЕНМЕХ"</small>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
